@page "/DeletePrioridades/{PrioridadId:int}";

@inject HttpClient httpClient
@inject NavigationManager NavigationManager

<div class="card shadow-lg border-0 rounded" style="background-color: #f8f9fa;">
    <div class="card-header bg-primary text-white text-center py-2 rounded">
        <h3 style="font-weight: bold;" class="mb-0 font-weight-bold">Eliminar Prioridad</h3>
    </div>

    <div class="card-body text-center">
        <div class="col-md-6 mb-3 mx-auto">
            <label style="font-weight: bold;" class="form-label font-weight-bold">Descripci&oacuten:</label>
            <span>@Prioridades.Descripcion</span>
        </div>

        <div class="col-md-6 mb-3 mx-auto">
            <label style="font-weight: bold;" class="form-label font-weight-bold">D&iacuteas Compromiso:</label>
            <span>@Prioridades.DiasCompromiso</span>
        </div>

        <div class="col-md-12 mb-3 mx-auto">
            <p style="font-weight: bold;">¿Seguro que deseas eliminar esta Prioridad?</p>
        </div>

    </div>

    <div class="card-footer bg-light d-flex justify-content-center">
        <div class="btn-group">
            <button @onclick="Eliminar" type="button" class="btn btn-success btn-block"><span class="fas fa-check"></span> Sí</button>
            <a href="/PrioridadesIndex/" class="btn btn-danger btn-block"><span class="fas fa-times"></span> No</a>
        </div>
    </div>

</div>



@code {

    public Prioridades Prioridades = new Prioridades();

    [Parameter]
    public int PrioridadID { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (PrioridadID > 0)
        {
            await Buscar();
        }
    }

    public async Task Buscar()
    {
        var prioridadEncontrado = await httpClient.GetFromJsonAsync<Prioridades>("api/Prioridades/" + PrioridadID);
        if (prioridadEncontrado != null)
        {
            this.Prioridades = prioridadEncontrado;
        }
    }

    public async Task Eliminar()
    {
        var eliminado = await httpClient.DeleteAsync("api/Prioridades/" + PrioridadID);
        if (eliminado.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("/PrioridadesIndex");
        }
    }

}

